<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.filipe.agricontrole">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label">
        <activity android:name=".MainActivity">
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="Cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FarmActivity"
            android:label="@string/title_activity_farm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgronomistActivity"
            android:label="@string/title_activity_agronomist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlotActivity"
            android:label="Talhões" />
        <activity
            android:name=".CreateFarmActivity"
            android:label="@string/title_activity_create_farm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FarmManagementActivity"
            android:label="@string/title_activity_farm_management" />
        <activity
            android:name=".CreatePeriodActivity"
            android:label="@string/title_activity_create_period"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreatePlotActivity"
            android:label="@string/title_activity_create_plot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlantingActivity"
            android:label="@string/title_activity_planting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreatePlantingActivity"
            android:label="@string/title_activity_create_planting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateProductActivity"
            android:label="@string/title_activity_create_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductApplicationActivity"
            android:label="@string/title_activity_product_application"
            android:parentActivityName=".PlantingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filipe.agricontrole.PlantingActivity" />
        </activity>
        <activity
            android:name=".CreateProductApplicationActivity"
            android:label="@string/title_activity_create_product_application"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateProductApplicationActivity"
            android:label="@string/title_activity_update_product_application"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateCategoryActivity"
            android:label="@string/title_activity_create_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UpdateFarmActivity" />
        <activity android:name=".UpdateProductActivity" />
        <activity android:name=".UpdatePeriodActivity" />
        <activity android:name=".UpdatePlantingActivity"></activity>
    </application>

</manifest>